.secondarea{
	background:url("Untitled design.png");
}
.text1{
	font-family:centour;
	color:white;
	font-size:70px;
	text-align:center;
	margin-top:150px;
	margin-bottom:100px;
	}
.secondarea h1{
	font-size:50px;
	font-family:gabriola;
	color:white;
	text-align:center;
	}
		.thirdarea{
			padding:50px 0;
			}
		
			.bottomarea{
				background:#443131;
				padding:50px 0;
				}
			
			.bottomarea img{
				height:180px;
				width:180px;
				margin:0 20px 80px 20px;
				line-height:20px;
				}
			.bottomarea h1{
				font-size:30px;
				font-family:agency fb;
				color:white;}
			.bottomarea p{
				font-size:20px;
				font-family:agency fb;
				color:white;
				line-height:20px;}
		
		